.title{
    text-align: center;
    text-size-adjust: 100px;
}

.dark{
    background-color: black;
    color: wheat;
}

.title-logo{
    text-align: center;
}


.login-style{
    background-color: red;
    color: black;
    text-align: center;
    font-size: 20px;
}